*{
    padding:0;
    margin:0;
    box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.products_page{
    margin:50px;
    padding: 30px;
    box-shadow: 0px 0px 12px rgb(184, 217, 230);
    border-radius: 7px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}

@media  screen and (max-width:992px){
    .products_page
    {
        grid-template-columns: repeat(3,1fr);
    }
}
@media  screen and (max-width:768px){
    .products_page
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media  screen and (max-width:500px){
    .products_page
    {
        grid-template-columns: repeat(1,1fr);
    }
}
.product{
   
    border: 1px solid grey;
    border-radius: 10px;
    flex-grow: auto;
}
.product:hover{

    box-shadow: 0px 0px 12px rgb(96, 134, 150);
}
.product_img{
    width:100%;
    height:12rem;
    border-radius: 5px 5px 0px 0px;
}
.product_info{
    margin:10px;
    line-height: 1.7rem;
    position: relative;
}
.AddToCart{
    background-color: rgb(50, 161, 50);
    width:88%;
    color: white;
    padding:5px;
    border: 0;
    border-radius: 10px;
    font-size: large;
}
.AddToCart:hover{
    background-color: green;
}
.wishlist{
    border:1px solid grey;
    padding:2px 7px;
    border-radius: 5px;
    position: absolute;
    right:0;
}

